<div class="col-xs-12" ng-controller="PathwaysCardController">
	<h1>Engagement Pathways Card</h1>


    <sankey-diagram chart-data="myData" ></sankey-diagram>

    <p id="chart">


    </p>

    <h2>Learning Objects (Course: {{course.id}})</h2>
    <div class="col-xs-12" ng-repeat="learn in course.learning_objects">
        <div class="row">
            <div class="col-xs-6">{{learn}}</div>
        </div>
    </div>
    <h2>Events (Course: {{course.id}})</h2>
    <div class="col-xs-12" ng-repeat="event in course.events">
        <div class="row">
            <div class="col-xs-6">{{event.name_full}}</div>
            <div class="col-xs-6">{{event.action}}</div>
            <div class="col-xs-6">{{event.timestamp}}</div>
        </div>
    </div>


    <style>

        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .2;
        }

        .link:hover {
            stroke-opacity: .5;
        }

    </style>
</div>
